<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <section>
        <h3>메뉴판</h3>
    </section>
    <table>
        <tr>
            <th>메뉴 번호</th>
            <th>메뉴 이름</th>
            <th>메뉴 가격</th>
            <th>카테고리 코드</th>
            <th>판매 상태</th>
        </tr>
        <tr th:each="menu : ${menus}"> <!--for each문과 같은 기능 (Thymeleaf 문법)-->
            <td th:text="${menu.code}"></td>
            <td th:text="${menu.name}"></td>
            <td th:text="${menu.price}"></td>
            <td th:text="${menu.categoryCode}"></td>
            <td th:text="${menu.status}"></td>
        </tr>
    </table>
</body>
</html>