<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>메뉴 수정하기</h3>
    <form action="edit" method="post">
        수정할 메뉴 코드 : <input type="number" name="code"/> <br>
        <br>
        수정할 메뉴 이름 : <input type="text" name="name"/> <br>
        수정할 메뉴 가격 : <input type="number" name="price"/> <br>
        수정할 메뉴 코드 : <input type="number" name="categoryCode"/> <br>
        수정할 메뉴 상태 : <input type="text" name="status"/> <br>
      <button type="submit">수정하기</button>
    </form>
</body>
</html>